* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #E1D4C9;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    padding-bottom: 4px;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.nav-list-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: .7s;
}

.nav-list-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.coffee-menu-link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #403F3D;
    transition: .7s;
    left: 0;
    right: 0;
}

.coffee-menu-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    display: flex;
    column-gap: 8px;
    padding-bottom: 4px;
}

.main {
    margin-bottom: 100px;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.offer-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
    width: 800px;
    padding-bottom: 40px;
}

.offer-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.offer-container {
    display: flex;
    column-gap: 16px;
}

.offer-link1 {
    width: 115px;
    height: 46px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 100px;
    background: var(--background-container, #665F55);
    padding: 8px 16px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.offer-link:hover {
    background: var(--background-container, #665F55);
    transition: 1s;
}

.offer-link:hover div {
    background: var(--background-body, #E1D4C9);
    transition: 1s;
}

.offer-link2 {
    width: 90px;
    height: 46px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    padding: 8px 16px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.offer-link3 {
    width: 124px;
    height: 46px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    padding: 8px 16px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.offer-link-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.offer-link-text1 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.offer-link-ico-container {
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.offer-link-ico-container1 {
    background: var(--background-body, #E1D4C9);
}

.coffe-box {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.coffe-box-content1 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.coffe-box-content2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.coffe-box-container {
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    height: 506px;
    width: 310px;
}

.coffe-box-img-content {
    overflow: hidden;
    width: 310px;
    height: 310px;
    border-radius: 40px;

}

.coffe-box-img {
    transform: scale(1.1);
}

.coffe-box-container:hover .coffe-box-img {
    transform: scale(1.0);
    transition: 0.5s;
}

.coffe-box-content {
    padding: 20px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coffe-box-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.coffe-box-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    padding-top: 12px;
}

.coffe-box-price {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}









.footer {
    margin-bottom: 40px;
}

.footer-content {
    border-radius: 40px;
    background: var(--background-container, #665F55);
    padding: 100px;
    display: flex;
    column-gap: 100px;
}

.footer-socials {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer-socials-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
}

.footer-socials-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.footer-socials-content {
    display: flex;
    column-gap: 12px;
}

.footer-socials-svg {
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.footer-socials-svg:hover path,
.footer-socials-svg:hover {
    stroke: #403F3D;
    transition: 0.8s;
    background: var(--background-body, #E1D4C9);
}

.footer-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contacts-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */

    padding-bottom: 40px;
}

.footer-contacts-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;
}

.footer-contacts-nav-list-link {
    display: flex;
    column-gap: 8px;
    width: fit-content;
    text-decoration: none;
    padding-bottom: 4px;

    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    position: relative;
    cursor: pointer;
}

.footer-contacts-nav-list-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background: #E1D4C9;
    opacity: 0;
    transition: .7s;
}

.footer-contacts-nav-list-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.footer-contacts-nav-list-item {
    display: flex;
    column-gap: 8px;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}