* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #E1D4C9;
    justify-content: center;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    margin-bottom: 100px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    padding-bottom: 4px;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.nav-list-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: .7s;
}

.nav-list-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.coffee-menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: .7s;
}

.coffee-menu-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.coffee-menu-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    display: flex;
    column-gap: 8px;
    padding-bottom: 4px;
}

.header-img {
    border-radius: 40px;
    background: url(img/img-hero.jpg), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-img-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 530px;
}

.header-img-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-1.accent */
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%;
    /* 75.6px */
}

.header-img-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-1 */
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.header-img-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.header-img-button {
    border-radius: 100px;
    padding: 20px 0px;
    width: 200px;
    text-decoration: none;

    color: var(--text-dark, #403F3D);
    background: var(--background-body, #E1D4C9);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img-button-svg {
    position: absolute;
    opacity: 0;
}

.header-img-button:hover .header-img-button-svg {
    position: static;
    padding-left: 8px;
    opacity: 1;
    transition: 0.3s;
}

.main {
    margin-bottom: 100px;
}

.Favourites-Coffee {
    padding-bottom: 100px;
}

.slider {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Favourites-Coffee-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
    text-align: center;
}

.Favourites-Coffee-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.Favourites-Coffee-svg-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    box-sizing: border-box;
    cursor: pointer;
}

.Favourites-Coffee-svg-left:hover path,
.Favourites-Coffee-svg-left:hover {
    stroke: #E1D4C9;
    transition: 0.8s;
    background: var(--background-body, #403F3D);
}

.Favourites-Coffee-svg-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    box-sizing: border-box;
    cursor: pointer;
}

.Favourites-Coffee-svg-right:hover path,
.Favourites-Coffee-svg-right:hover {
    stroke: #E1D4C9;
    transition: 0.8s;
    background: var(--background-body, #403F3D);
}

.Favourites-Coffee-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1152px;
    padding: 0 40px;
}

.Favourites-Coffee-container {
    padding-top: 20px;
    width: 480px;
}

.Favourites-Coffee-content-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.Favourites-Coffee-content-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */

    padding: 16px 0;
}

.Favourites-Coffee-radio-container {
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
}

.Favourites-Coffee-radio {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark, #665F55);
}

.Favourites-Coffee-radio2 {
    background: var(--border-light, #C1B6AD);
}

.About {
    margin-bottom: 100px;
}

.About-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */

    padding-bottom: 40px;
}

.About-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.About-container-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
}

.About-container-img1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.About-container-img2 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.About-img-content1 {
    width: 660px;
    height: 590px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.About-img-content2 {
    overflow: hidden;
    width: 660px;
    height: 430px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.About-img1 {
    transform: scale(1.1);
    width: 660px;
    height: 590px;
    object-fit: cover;
}

.About-img1:hover {
    transform: scale(1);
    transition: 1s;
}

.About-img2 {
    transform: scale(1.1);
    width: 660px;
    height: 430px;
    object-fit: cover;
}

.About-img2:hover {
    transform: scale(1);
    transition: 1s;
}

.About-img3 {
    transform: scale(1.1);
    width: 660px;
    height: 430px;
    object-fit: cover;
}

.About-img3:hover {
    transition: 1s;
    transform: scale(1);
}

.About-img4 {
    transform: scale(1.1);
    width: 660px;
    height: 590px;
    object-fit: cover;
}

.About-img4:hover {
    transform: scale(1);
    transition: 1s;
}

.Mobile-App {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: center;
}

.Mobile-App-content {
    height: 342px;
}

.Mobile-App-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.Mobile-App-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
}

.Mobile-App-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */

    padding: 40px 0;
}

.Mobile-App-link-content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: start;
    width: 92px;
}

.Mobile-App-link-container {
    display: flex;
    column-gap: 20px;
}

.Mobile-App-link {
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    width: 200px;
    padding: 12px 20px;
    display: flex;
    column-gap: 8px;
    background: var(--background-body, #E1D4C9);
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.Mobile-App-link:hover path,
.Mobile-App-link:hover {
    transition: 0.8s;
    background: var(--background-body, #403F3D);
    fill: #E1D4C9;
}

.Mobile-App-link:hover p {
    transition: 0.8s;
    color: #E1D4C9;
}


.Mobile-App-link-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/caption */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 14px */
}

.Mobile-App-link-text2 {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.footer {
    margin-bottom: 40px;
}

.footer-content {
    border-radius: 40px;
    background: var(--background-container, #665F55);
    padding: 100px;
    display: flex;
    column-gap: 100px;
}

.footer-socials {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer-socials-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
}

.footer-socials-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.footer-socials-content {
    display: flex;
    column-gap: 12px;
}

.footer-socials-svg {
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.footer-socials-svg:hover path,
.footer-socials-svg:hover {
    stroke: #403F3D;
    transition: 0.8s;
    background: var(--background-body, #E1D4C9);
}

.footer-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contacts-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */

    padding-bottom: 40px;
}

.footer-contacts-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;
}

.footer-contacts-nav-list-link {
    display: flex;
    column-gap: 8px;
    width: fit-content;
    text-decoration: none;
    padding-bottom: 4px;

    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    position: relative;
    cursor: pointer;
}

.footer-contacts-nav-list-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background: #E1D4C9;
    opacity: 0;
    transition: .7s;
}

.footer-contacts-nav-list-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.footer-contacts-nav-list-item {
    display: flex;
    column-gap: 8px;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}