* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #E1D4C9;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    margin-bottom: 100px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    padding-bottom: 4px;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.nav-list-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: .7s;
}

.nav-list-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.coffee-menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: .7s;
}

.coffee-menu-link:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.coffee-menu-link {
    position: relative;
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    display: flex;
    column-gap: 8px;
    padding-bottom: 4px;
}

.header-img {
    border-radius: 40px;
    background: url(img/img-hero.jpg), lightgray 50% / cover no-repeat;
    background-position: center center;
}

.header-img-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 530px;
}

.header-img-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-1.accent */
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%;
    /* 75.6px */
}

.header-img-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-1 */
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.header-img-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.header-img-button {
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    padding: 20px 0px;
    width: 200px;
    text-decoration: none;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.Favourites-Coffee {
    padding-bottom: 100px;
}

.Favourites-Coffee-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
    text-align: center;
}

.Favourites-Coffee-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.Favourites-Coffee-content {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Favourites-Coffee-container {
    width: 480px;
}

.Favourites-Coffee-content-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.Favourites-Coffee-content-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */

    padding: 40px 0;
}

.About {}

.About-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */

    padding-bottom: 40px;
    text-align: center;
}

.About-title-span {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.About-container-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
}

.About-container-img1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.About-container-img2 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.About-img {
    border-radius: 20px;
    object-fit: cover;
}